[submodule "subs/cif"]
	path = subs/cif
	url = https://github.com/samueljackson92/cif
	branch = master
[submodule "subs/CIF2XYZ"]
	path = subs/CIF2XYZ
	url = https://github.com/JJPPeters/CIF2XYZ
	branch = master
[submodule "subs/cif2cell"]
	path = subs/cif2cell
	url = https://github.com/kmu/cif2cell
	branch = master
